<?xml version="1.0" encoding="UTF-8"?>
<!--
    Checkstyle-Configuration: alinghi
    Description: none
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>

    <module name="FileLength">
        <property name="fileExtensions" value="java"/>
    </module>

    <module name="FileTabCharacter">
        <property name="fileExtensions" value="java"/>
    </module>

    <module name="TreeWalker">
        <!--  maven-checkstyle-plugin 2.7 complains about a missing cacheFile. See http://jira.codehaus.org/browse/MCHECKSTYLE-159 -->
        <!--<property name="cacheFile" value="target/checkstyle/cachefile"/>-->

        <property name="tabWidth" value="4"/>
        <module name="FileContentsHolder"/>
        <module name="BooleanExpressionComplexity">
            <property name="max" value="5"/>
        </module>
        <module name="ConstantName"/>
        <module name="AvoidStarImport"/>
        <module name="DeclarationOrder"/>
        <module name="EmptyBlock">
            <property name="tokens"
                      value="LITERAL_DO, LITERAL_FINALLY, LITERAL_FOR, LITERAL_TRY, LITERAL_WHILE, STATIC_INIT"/>
        </module>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
            <property name="tokens" value="LITERAL_CATCH, LITERAL_ELSE, LITERAL_IF, INSTANCE_INIT"/>
        </module>
        <module name="EmptyForIteratorPad">
            <property name="option" value="space"/>
        </module>
        <module name="EqualsHashCode"/>
        <module name="EmptyStatement"/>
        <module name="FallThrough"/>
        <module name="HiddenField">
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
        </module>
        <module name="HideUtilityClassConstructor"/>
        <module name="IllegalImport">
            <property name="illegalPkgs"
                      value="sun, de.tipp24, edu.emory.mathcs.backport, EDU.oswego.cs.dl.util.concurrent"/>
        </module>
        <module name="IllegalInstantiation">
            <property name="classes" value="java.lang.Boolean"/>
        </module>
        <module name="InnerAssignment"/>
        <module name="LeftCurly">
            <property name="maxLineLength" value="150"/>
        </module>
        <module name="LineLength">
            <property name="ignorePattern" value="^ *\* *[^ ]+$|^ *@.*|^import"/>
            <property name="max" value="150"/>
        </module>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodLength"/>
        <module name="MethodName"/>
        <module name="MethodParamPad"/>
        <module name="ModifierOrder"/>
        <module name="NeedBraces"/>
        <module name="NoWhitespaceAfter">
            <property name="tokens" value="BNOT, DEC, DOT, INC, UNARY_MINUS, UNARY_PLUS"/>
        </module>
        <module name="NoWhitespaceBefore"/>
        <module name="NoWhitespaceBefore">
            <property name="allowLineBreaks" value="true"/>
            <property name="tokens" value="DOT"/>
        </module>
        <module name="OperatorWrap"/>
        <module name="OperatorWrap">
            <property name="option" value="eol"/>
            <property name="tokens"
                      value="ASSIGN, DIV_ASSIGN, PLUS_ASSIGN, MINUS_ASSIGN, STAR_ASSIGN, MOD_ASSIGN, SR_ASSIGN, BSR_ASSIGN, SL_ASSIGN, BXOR_ASSIGN, BOR_ASSIGN, BAND_ASSIGN"/>
        </module>
        <module name="ParameterName"/>
        <module name="ParenPad">
            <property name="tokens" value="CTOR_CALL,METHOD_CALL,SUPER_CTOR_CALL"/>
        </module>
        <module name="RedundantImport"/>
        <module name="RightCurly"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="UnusedImports">
            <property name="processJavadoc" value="true"/>
        </module>
        <module name="UpperEll"/>
        <module name="VisibilityModifier">
            <property name="publicMemberPattern" value="^.*$"/>
        </module>
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA,SEMI"/>
        </module>
        <module name="WhitespaceAround">
            <property name="tokens"
                      value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_RETURN,LITERAL_TRY,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,TYPE_EXTENSION_AND"/>
        </module>
        <module name="JavadocStyle">
            <property name="checkEmptyJavadoc" value="true"/>
        </module>
        <module name="ParameterAssignment"/>
        <module name="RedundantModifier"/>
        <module name="RegexpSinglelineJava">
            <property name="severity" value="error"/>
            <property name="format" value="openSession\s*\W"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="Do not open a hibernate session manually."/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="import *java.util.Date\W"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="java.util.Date should not be used. Use DateTime of Joda Time instead."/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="import *java.util.Calendar\W"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="java.util.Calendar should not be used. Use DateTime of Joda Time instead."/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="import *java.text.DateFormat\W"/>
            <property name="ignoreComments" value="true"/>
            <property name="message"
                      value="java.text.DateFormat should not be used. Use DateTimeFormatter of Joda Time instead."/>
        </module>
        <module name="Regexp">
            <property name="format" value="@Transactional\s+public\s+class"/>
            <property name="message"
                      value="Do not use @Transactional at class level. Directly annotate single methods instead."/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="Regexp">
            <property name="severity" value="error"/>
            <property name="format" value="@Transactional\s+private\s"/>
            <property name="message"
                      value="Do only use @Transactional on public methods! Otherwise it won't have any effect."/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="Regexp">
            <property name="severity" value="error"/>
            <property name="format" value="@Transactional\s+protected\s"/>
            <property name="message"
                      value="Do only use @Transactional on public methods! Otherwise it won't have any effect."/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="Regexp">
            <property name="severity" value="error"/>
            <property name="format" value="@SpringBean\s+private transient\s"/>
            <property name="message"
                      value="Objects injected using @SpringBean in wicket may not be transient. Ignore the warning using @edu.umd.cs.findbugs.annotations.SuppressWarnings(&quot;SE_BAD_FIELD&quot;) and remove transient keyword"/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="Regexp">
            <property name="format" value="SessionFactoryUtils.*etSession.*true.*"/>
            <property name="message"
                      value="Do not use open new session by hand, use @Transactional or TransactionTemplate instead, because you have to ensure that the sessions are closed at the end."/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="Regexp">
            <property name="format" value="SessionFactoryUtils.*NewSession.*"/>
            <property name="message"
                      value="Do not use open new session by hand, use @Transactional or TransactionTemplate instead, because you have to ensure that the sessions are closed at the end."/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="Regexp">
            <property name="format" value="@Autowired\s.*TransactionTemplate.*$"/>
            <property name="message"
                      value="use of autowired TransactionTemplate is not allowed, please use TransactionOperations in order to prevent use of setters."/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="ModifierOrder" />
        <module name="DefaultComesLast"/>
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true" />
            <property name="allowMultipleEmptyLines" value="false" />
        </module>
        <module name="HideUtilityClassConstructor"/>
        <module name="InnerTypeLast"/>
        <module name="VisibilityModifier"/>
        <module name="AnnotationLocation" >
            <property name="allowSamelineSingleParameterlessAnnotation" value="true"/>
        </module>
        <module name="MissingDeprecated"/>
    </module>
    <module name="SuppressionCommentFilter"/>
    <module name="SuppressionFilter">
        <!--  Note: config_loc is a build-in property in Eclipse Checkstyle, for maven builds we set this property via property expansion. -->
        <property name="file" value="config/checkstyle/suppressions.xml"/>
    </module>
</module>
